<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

    <title><%= title %></title>
</head>
<body>
    <nav class="navbar">
        <h1><%= title  %></h1>
        <div class="navigation">
            <button id="jew" class="catJewel">jewelery</button> 
            <button id="elec" class="catJewel">electronics</button> 
            <button id="men" class="catJewel">men</button> 
            <button id="women" class="catJewel">women</button>   
        </div>
        <div class="navigation">
            <a href="/">home </a> |
            <a href="/category" >Category</a>
        </div>
        
    </nav>
    <div id="container" class="container">
       
    </div>
    <script src="/category.js"></script>
</body>
</html>